<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- datatables scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

  <!-- datatables css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">

  <link href="{{ url_for('static', filename='css/styleGrup.css') }}" rel="stylesheet" type="text/css">

  <title>AGRUPAMIENTO</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" id="navbar">
      <img src="/static/src/logoUNAL.svg" alt="" height="70" class="d-inline-block align-text-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">INICIO</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('viasializacion')}}">VISUALIZACION</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prediccion">PREDICCION</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('agrupacion')}}">AGRUPAMIENTO</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/referencias">REFERENCIAS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <h1 id="title1">FRECUENCIA DE ACCIDENTES EN MEDELLIN</h1>
    <div class="freqall">
      <div class="table">
        <table class="table table-striped table-hover table-sm" id="datatable" data-search="false">
          <thead>
            <tr>
              <th>Barrio</th>
              <th>Freq</th>
            </tr>
          </thead>
          <tbody>
            {% for row in all%}
            <tr>
              <th>{{row[1]}}</th>
              <th>{{row[2]}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="map"><img src="/static/src/FreqAll.svg" alt="FreqBarrios"></div>
    </div>
    <h1 id="title2">GRAVEDAD DE LAS CLASES DE ACCIDENTES</h1>
    <div class="comb">
      <div class="form">
        <form action="" method="post">
          <div class="cr1">
            <p>Clase de accidente:
              <select name="Tclass2">
                {%for x in op1%}
                <option value="{{x}}">{{x}}</option>
                {%endfor%}
              </select>
            </p>
          </div>
          <div class="cr2">
            <p>Gravedad del accidente:
              <select name="gravedad">
                {%for x in op2%}
                <option value="{{x}}">{{x}}</option>
                {%endfor%}
              </select>
            </p>
          </div>
          <div class="boton"><input type="submit" id="send-filter2" name="filter" value="buscar" /></div>
        </form>
      </div>
      <div class="data">
        <div class="tab">
          <table class="table table-striped table-hover table-sm" id="combinacion1" data-search="false">
            <thead>
              <tr>
                <Th>Gravedad</Th>
                <th>Accidente</th>
                <th>Barrio</th>
                <th>Freq</th>
              </tr>
            </thead>
            <tbody>
              {% for row in com1%}
              <tr>
                <th>{{row[1]}}</th>
                <th>{{row[2]}}</th>
                <th>{{row[3]}}</th>
                <th>{{row[4]}}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="map1">
          <img src="{{src}}" alt="FreqComb">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $('#datatable').DataTable({
        "order": [[1, "desc"]]
      });
      $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function () {
      $('#combinacion1').DataTable({
        "order": [[3, "desc"]]
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

</body>

</html>